:root {
  --primary-dark: rgb(0 0 0);
  --primary-light: rgb(34 34 34);
  --primary-medium: rgb(17 17 17);

  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-family-sans: 'Noto Sans Devanagari', sans-serif;
  --text-color: rgb(255 255 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
