@import '@fontsource/ibm-plex-mono';
@import '@fontsource/noto-serif-devanagari';
@import '@fontsource/noto-serif-gujarati';

:root {
  --dark-primary-dark: rgb(0 0 0);
  --dark-primary-light: rgb(34 34 34);
  --dark-primary-medium: rgb(17 17 17);

  --light-primary-light: rgb(255 255 255);
  --light-primary-dark: rgb(221 221 221);
  --light-primary-medium: rgb(238 238 238);

  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-family-sans: 'Noto Serif Devanagari', serif;
  --font-family-guj: 'Noto Serif Gujarati', serif;

  --dark-text-color: rgb(255 255 255);
  --light-text-color: rgb(0 0 0);

  color-scheme: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
