/* @import "https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&family=Noto+Serif+Grantha&family=Noto+Serif+Gujarati&family=Noto+Serif+Kannada&family=Noto+Serif+Malayalam&family=Noto+Serif+Oriya&family=Noto+Serif+Telugu&family=Source+Code+Pro&display=swap"; */
@import "@fontsource/noto-serif-devanagari";
@import "@fontsource/noto-serif-grantha";
@import "@fontsource/noto-serif-gujarati";
@import "@fontsource/noto-serif-kannada";
@import "@fontsource/noto-serif-malayalam";
@import "@fontsource/noto-serif-oriya";
@import "@fontsource/noto-serif-telugu";
@import "@fontsource/source-code-pro";

:root {
  --dark-primary-dark: rgb(0 0 0);
  --dark-primary-light: rgb(34 34 34);
  --dark-primary-medium: rgb(17 17 17);

  --light-primary-light: rgb(255 255 255);
  --light-primary-dark: rgb(221 221 221);
  --light-primary-medium: rgb(238 238 238);

  --font-family-mono: "Source Code Pro";

  --dark-text-color: rgb(255 255 255);
  --light-text-color: rgb(0 0 0);

  color-scheme: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
